body {
    background-color: #f5f7fa;
}


.media .avatar {
    width: 64px;
    height: 64px;
}

.card .avatar {
    /*border-radius: 50%;*/
}

.navbar .dropdown-menu .button-a{
    color: cyan;
}


html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../img/project/zimnyaya_planeta-min.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}